body {

    font: 20px 'Lato', sans-serif;
    color: @base-font-color;
}

a {
    
    text-decoration: none;
}

.body-wraper {

    width: 700px;
    margin: auto;
    padding-top: 115px;
    box-sizing: border-box;

    a {

        color: #2a7ddd;
        border-bottom: 2px solid rgba(138, 192, 255, 0);
        transition: border-bottom 0.3s ease;

        &:hover {

            border-bottom: 1px solid rgba(138, 192, 255, 100);
        }
    }
}

@media (max-width: 740px) {

    .body-wraper {

        width: 100%;
        padding: 115px 20px 0px 20px;
    }
}

@media (max-width: 400px) {

    body {

        font-size: 18px;
    }

    .body-wraper {

        padding-top: 75px;
    }
}