.project-container {

    height: 220px;
    margin: 30px 0px;

    .project-cell {

        display: inline-block;
        position: relative;
        height: 100%;
        width: 337px;

        img,
        div {

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        img {

            margin-top: 4px;
        }

        h4 {

            margin: 0px;
            white-space: nowrap;
            font-size: 20px;
            font-weight: normal;
        }

        ul {

            padding: 0px;
            margin: 20px 0px 20px -17px;
            width: 280px;
            font-size: 18px;
            font-weight: 300;
            color: #767f82;
            list-style: none;
        }

        li {

            display: inline-block;
            margin-left: 9px;

            &:before {

                content: '\2022';
                margin-right: 3px;
                font-size: 22px;
                color: #8ac0ff;
            }
        }

    }

    .right {

        float: right;
    }

    .left {

        float: left;
    }
}