.imgs-wraper {

    height: 69px;
    margin: 50px auto 25px auto;
    text-align: center;
    color: #878d8f;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.16px;

    .img-cell {

        display: inline-block;
        height: 100%;
        width: 79px;
        margin: 0px 17px;

        img {

            height: 30px;
        }

        span {

            height: 5px;
            display: block;
            margin: 10px 0px 5px 0px;
            background: #dae4e7;

            .inner-bar {

                background: #8ac0ff;
            }
        }
    }

    .html {

        width: 95%;
    }

    .css {

        width: 95%;
    }

    .js {

        width: 95%;
    }
}