.timeline {

    position: relative;
    width: 100%;

    &:before {

        content: '';
        position: absolute;
        left: 50%;
		top: 5px;
        width: 2px;
		height: 100%;
        margin-left: -1px;
        background: #d6d6d6;
        
    }

    .entry {

        //position: relative;
        width: 100%;

        & > .left,
        & > .right {

            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            //background: blue;
        }
    }

    .timeline-icon {

        position: absolute;
        top: 4px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: #8ac0ff;
    }

    .small-icon {

        top: 9px;
        margin-left: -5px;
        height: 10px;
        width: 10px;
    }

    .left {

        float: left;
        padding-right: 20px;
        text-align: right;
    }

    .right {

        float: right;
        padding-left: 20px;
        text-align: left;
    }

    h4 {

        margin: 0px;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0.2px;
        line-height: 28px;
    }

    h5 {

        margin: 0px;
        line-height: 28px;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.16px;
    }
}